# Node.js
/frontend/node_modules
/frontend/build

# Python
/backend/__pycache__/
backend/**/*.py[cod]
backend/**/migrations/

# Environment variables
/backend/.env
/frontend/.env

# GitHub Actions
/.github/

# System files
.DS_Store
Thumbs.db

# Virtual environment
/backend/venv/
